<!DOCTYPE html>
<html>
<head>
  <title>AngularOnRailsApp</title>
  <link rel="icon" type="image/png" href="https://pbs.twimg.com/profile_images/2149314222/square.png">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-view>
  <%= yield %>
</div>

</body>
</html>
