<!DOCTYPE html>
<html>
<head>
  <title>AngularOnRailsApp</title>
  <link rel="icon" href="image/png" href="https://pbs.twimg.com/profile_images/2149314222/square.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
